@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

nav, .list-items {
list-style: none;
display: inline-block;
  align-content: center;
  word-wrap: nowrap;
}

body {
  font-family: 'poppins', sans-serif;
  margin: 0 0 0 0;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
overflow: hidden;
}

header {
  width: 100%;
  align-items: center;
}

.list-items {
  padding: 30px 50px;
}

.list-items:hover {
  color: #fcca46;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #fcca46;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: opacity(0);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: opacity(100%);
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}


.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  height: 180px;
}

.pic-item {
  gap: 1rem;
  border-radius: 5px;
 height: 180px;
  width: 180px;
}

.contain2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 230px;
  gap: 2rem;
width: 70%;
  float: left;
  border: solid 2px #fff;
}

.main-sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%
}

.first-text {
  margin-top: 250px;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50px
}

.part-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: solid 2px #fff;
}

button {
  border: none;
  border-radius: 9px;
  width: 120px;
  height: 40px;
  background-color: #9c6644;
  color: #fff;
  font-weight: bold;
}

.section-pics {
  width: 300px;
  height: 300px;
}

.part-2 {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 5rem;
}

.pic-grid {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  gap: 12rem;
}

.milestones {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}

.milestone-list {
  list-style-type: disc;
  display: block;
}

.mile-list {
  padding-bottom: 15px;
  font-size: 40px;
}

.letter {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-image: url("https://pbs.twimg.com/media/E0Yofk4VUAIvfHL?format=jpg&name=large");
  margin: 0 0 0 0;
}


.letter-main {
  z-index: 1;
  font-size: 25px;
  text-align: right;
  width: 70%;
  margin-left: 200px;
  padding-top: 10px;
}

p:nth-child(9) {
  text-align: left;
  color: black
}